<div class="around">
  <div class="upper ms-wrapper">
    <app-timer id="bombCounter" #bombCounter></app-timer>
    <div id="smiley" class="ms-button" (click)="clearGrid()" [style.background]="'url(../assets/images/smiley-' + minesweeperService.smileyType + '.svg)'"></div>
    <app-timer id="gameTimer" #gameTimer></app-timer>
  </div>
  <div class="ms-wrapper">
    <div #grid class="grid" [ngStyle]="{ 'grid-template-columns':'repeat(' + minesweeperService.columnCount + ', 1fr)' }">
      <div *ngFor="let column of minesweeperService.columnArray">
        <app-square *ngFor="let square of column.squareArray" [data]="square" (click)="klik(square.idxX, square.idxY)" (contextmenu)="flag(square.idxX, square.idxY)"></app-square>
      </div>
    </div>
  </div>
  <div class="icon_wrap">
    <img class="info_icon" src="assets/images/info.svg" alt="" (click)="infoViewed=!infoViewed" [style.opacity]="infoViewed ? .9 : .5">
    <img class="settings_icon" src="assets/images/settings.svg" alt="" (click)="settingsViewed=!settingsViewed" [style.opacity]="settingsViewed ? .9 : .5">
  </div>

  <div *ngIf="settingsViewed" class="ms-wrapper settings" [style.width.px]="gridWidth" >
    <div class="infoset_section"> <strong>Nastavení</strong> </div>
    <form #settings="ngForm" (ngSubmit)="settingsSubmit()" >
      <div class="infoset_section">
        Rozměry:
        <select name="dimensions" [(ngModel)]="model.dimensions">
          <option *ngFor="let dim of dimensions" [value]="dim">{{ dim }}</option>
        </select>
      </div>
      <div class="infoset_section" [hidden]="model.dimensions != dimensions[3]">
        <br>
        Vlastní rozměry:
        <br>
        <span class="custom_label">X: </span> <input class="textfield" type="number" name="x" [(ngModel)]="model.X">
        <br>
        <span class="custom_label">Y: </span> <input class="textfield" type="number" name="y" [(ngModel)]="model.Y">
        <br>
        <span class="custom_label">M: </span> <input class="textfield" type="number" name="m" [(ngModel)]="model.M">
        <br>
        <br>
      </div>

      <div class="infoset_section"> Speciální chování hry: </div>
      <div class="infoset_section">
        <input type="checkbox" name="remove" [(ngModel)]="model.remove"> Odstraňování min
        <br>
        <input type="checkbox" name="add" [(ngModel)]="model.add"> Přidávání min
        <br>
        <input type="checkbox" name="show" [(ngModel)]="model.show"> Zobrazovat pravděpodobnosti
        <br>
      </div>

      <input class="ms-button infoset_section okbutton" type="submit" value="OK">
    </form>
  </div>

  <div *ngIf="infoViewed" class="ms-wrapper info" [style.width.px]="gridWidth" >
    <div class="infoset_section"> <strong>O hře</strong> </div>
    <div class="infoset_section">
      Toto je v podstatě klasické hledání min. Políčka po kliknutí odhalí, kolik se kolem nich nachází min. 
      Vyhráváte, pokud odhalíte všechna políčka bez min, nebo všechny miny označíte vlaječkou (to můžete udělat stiskem pravého tlačítka myši). 
      Levý číselník nahoře ukazuje celkový počet min minus počet využitých vlaječek. Pravý počítá čas od začátku hry (hra začíná odhalením prvního pole). Smajlík vytvoří nové herní pole. 
      Chcete-li se o hledání min dozvědět více, můžete tak učinit například <a target="_blank" rel="noopener noreferrer" href="http://www.minesweeper.info/wiki/">zde</a>.
    </div>
    <div class="infoset_section">
      Tato verze je navíc 'spravedlivá', což znamená:
      <ul>
        <li>pokud u žádného políčka není jisté, že neobsahuje minu, kliknutí na libovolné políčko, kde mina není <i>určitě</i>, nikdy neodhalí minu
        <li>pokud naopak existují políčka, kde miny určitě nejsou, a přesto se rozhodnete odhalit políčko, kde to jisté není, mina tu vždy bude
      </ul>
      <i>Ve výjimečných případech mohou tyto vlastnosti mírně změnit počet min v poli. To se ale příslušně projeví na levém číselníku.</i>
    </div>
    <div class="infoset_section"> <strong>Co se dá nastavit</strong> </div>
    <div class="infoset_section">
      V první řadě můžete nastavit velikost hrací plochy a počet min (<i>začátečník</i> znamená pole 8x8 s 10 minami, <i>střední</i> 16x16 s 40 minami a <i>expert</i> 24x24 s 90 minami).
    </div>
    <div class="infoset_section">
      Taky si šířku - <i>X</i>, výšku - <i>Y</i> a počet min - <i>M</i> můžete vybrat sami, ale X musí být mezi 8 a 60, Y mezi 8 a 100 a počet min nesmí přesáhnout 999 (víc se nevejde na číselník), ani (X-1)*(Y-1).
    </div>
    <div class="infoset_section">
      Navíc můžete vypnout popsané efekty spravedlivosti (<i>odstraňování</i>, resp. <i>přidávání</i> min), také si hru můžete nechat vyřešit za sebe a zapnout zobrazování pravděpodobnosti výskytu min. 
      Žlutá barva indikuje nejisté políčko, červená políčko s jistou minou a zelená políčko, kde mina určitě není.
    </div>
    <div class="infoset_section">
      Nastavení se zaznamená až po stisknutí 'OK' a projeví se až po stisknutí smajlíka.
    </div>
    <br>
    <div class="infoset_section">
      <i>Hru vytvořil Martin Koreček jako zápočtový program v prvním ročníku na MFF UK. Zajímá-li Vás kód hry, najdete ho i s dokumentací na <a target="_blank" rel="noopener noreferrer" href="https://github.com/korecekm/fair_minesweeper">githubu</a>.</i>
    </div>
  </div>

</div>